name: Build

on:
  push:
  pull_request:

jobs:
  build-windows:
    runs-on: ubuntu-18.04
    env:
      COMPILER: x86_64-w64-mingw32-gcc -Iomicron/external/include/ddk
      UNAME: Windows
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install requirements
        run: |
          git clone --branch=v2.5 --depth=1 https://github.com/uic-evl/omicron.git omicron
          sudo apt-get -y update
          sudo apt-get -y install libudev-dev
          sudo apt-get install gcc-mingw-w64
      - name: Compile
        run: |
          make all
      - name: List Results
        run: |
           ls -r .
      - uses: actions/upload-artifact@v2
        with:
          name: Windows
          path: edbg.exe
     - name: Upload Binary
       uses: svenstaro/upload-release-action@v2
       with:
         repo_token: ${{ secrets.GITHUB_TOKEN }}
         file: edbg.exe
         asset_name: edbg-windows
         tag: ${{ github.run_number }}

  build-ubuntu:
    runs-on: ubuntu-18.04
    steps:
     - name: Checkout
       uses: actions/checkout@v1
     - name: Install requirements
       run: |
         sudo apt-get -y update
         sudo apt-get -y install libudev-dev
     - name: Compile
       run: |
         make all
     - name: List Results
       run: |
          ls -r .
     - uses: actions/upload-artifact@v2
       with:
         name: Linux-amd64
         path: edbg
     - name: Upload Binary
       uses: svenstaro/upload-release-action@v2
       with:
         repo_token: ${{ secrets.GITHUB_TOKEN }}
         file: edbg
         asset_name: edbg-linux
         tag: ${{ github.run_number }}

#  build-macos:
#    runs-on: macOS-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v1
#      - name: Install requirements
#        run: |
#          brew install hidapi;
#      - name: Check requirements
#        run: |
#          brew list --versions hidapi
#      - name: Compile
#        run: |
#          make all
#      - name: List Results
#        run: |
#           ls -r .
#      - uses: actions/upload-artifact@v2
#        with:
#          name: macOS
#          path: edbg
#     - name: Upload Binary
#       uses: svenstaro/upload-release-action@v2
#       with:
#         repo_token: ${{ secrets.GITHUB_TOKEN }}
#         file: edbg
#         asset_name: edbg-macos
#         tag: ${{ github.run_number }}


